*{
  padding: 0;
  margin: 0;
}

.strong{
  font-size: 16px;
}

.matlabel{
  font-size: 16px;

}

.label02{
  font-size: 16px;
}

.caixa{
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

i{
  font-size: 12px;
}

.button{
  width: 100px;
  height: 50px;
}

#id-resposta{
  font-size: 16px;
  font-style: italic;
}

.card{
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  margin-bottom: 20px;
}
