<!DOCTYPE html>

<html>
  <head>

  </head>
  <body>

    <mat-toolbar color="warn">
      <span class="cor">Angular</span>
    </mat-toolbar>

    <div class="jogada">
      <h1>Jogo da Sorte</h1>
    </div>

    <div class="txt">
      <h2>Regras do Jogo:</h2>
      <p class="classP"> O sistema gera um número aleatório entre 1 e 100 a cada jogada, digite um número para ganhar:
      </p>
    </div>

    <a href="#"><button mat-button>Início</button></a>
    <a href="sorte/start/"><button mat-button>Vamos Jogar?</button>
    </a>
    <router-outlet></router-outlet>




  </body>
</html>
